body {
  margin: 0;
  padding: 0;
}

#container {
  width: 100%;
  height: 100vh;

}

#side-panel {
  overflow-y: scroll;
  padding: 2em;
  width: auto;
  height: 500px;
  top: 50px;
  right: 50px;
  position: absolute;
  background: #fff;
  border: 1px #e6e4e4 solid;
  box-shadow:
  0 2.8px 2.2px rgba(58, 58, 58, 0.034),
  0 6.7px 5.3px rgba(68, 68, 68, 0.048),
  0 12.5px 10px rgba(83, 83, 83, 0.06),
  0 22.3px 17.9px rgba(78, 78, 78, 0.072),
  0 41.8px 33.4px rgba(100, 100, 100, 0.086),
  0 100px 80px rgba(80, 80, 80, 0.12);
}

#map {
  width: 100%;
  height: 100%;
}

button {
  margin-bottom: 10px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  /* border: 1px solid #ddd; */
}

th,
td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}


@media screen and (max-width: 1024px) {
  #side-panel {
    display: none;
  }
}